page-list {
    .kanit {
        font-family: 'Kanit';
    }
    h3 {
        font-family: 'Kanit';
    }
    .w {
        // font-family: 'Kanit';
        color: #e7eafa;
    }
    .bg {
        background-color: #e7eafa; // black
    }
    .bg-a {
        background-color: #ff0505; // black
    }
    .bg-b {
        background-color: #fff71d; // black
    }
    .bg-c {
        background-color: #10c207; // black
    } // .card {
    //     background-color: #e7f0f7; // black
    // }
    // .item-md {
    //     background-color: #e7f0f7; // black
    // }
}