page-list {
    .kanit {
        font-family: 'Kanit';
    }
    h3 {
        font-family: 'Kanit';
    }
    .bg {
        background-color: #e7eafa; // black
    } // .card {
    //     background-color: #e7f0f7; // black
    // }
    // .item-md {
    //     background-color: #e7f0f7; // black
    // }
}