<ion-header class="kanit">

  <ion-navbar color="primary">
    <ion-title>แจ้งเตือน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="kanit">

  <div *ngIf="typ === 'a'">
    <ion-card class="bg-a">
      <ion-card-header>
        สถานการณ์เตือนภัย
      </ion-card-header>
      <ion-card-content>
        <ion-item class="bg-a">
          <ion-avatar item-start>
            <img src="./assets/icon/drop3.png">
          </ion-avatar>
          <h1>{{ warning }}</h1>
          <!-- <p>gfdhgghgdjsdsgsgsdgsdgsgsgsgsgsgsf</p> -->
        </ion-item>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear (click)="viewReportDetail()">
              <ion-icon name="text"></ion-icon>
              <div>
                <span class="w">หมู่บ้านในรัศมี 10 กม.</span>
              </div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="typ === 'b'">
    <ion-card class="bg-b">
      <ion-card-header>
        สถานการณ์เตือนภัย
      </ion-card-header>
      <ion-card-content>
        <ion-item class="bg-b">
          <ion-avatar item-start>
            <img src="./assets/icon/drop3.png">
          </ion-avatar>
          <h1>{{ warning }}</h1>
          <!-- <p>gfdhgghgdjsdsgsgsdgsdgsgsgsgsgsgsf</p> -->
        </ion-item>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear (click)="viewReportDetail()">
              <ion-icon name="text" class="w"></ion-icon>
              <div>
                <span class="w">หมู่บ้านในรัศมี 10 กม.</span>
              </div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="typ === 'c'">
    <ion-card class="bg-c">
      <ion-card-header>
        สถานการณ์เตือนภัย
      </ion-card-header>
      <ion-card-content>
        <ion-item class="bg-c">
          <ion-avatar item-start>
            <img src="./assets/icon/drop3.png">
          </ion-avatar>
          <h1>{{ warning }}</h1>
          <!-- <p>gfdhgghgdjsdsgsgsdgsdgsgsgsgsgsgsf</p> -->
        </ion-item>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear (click)="viewReportDetail()">
              <ion-icon name="text" class="w"></ion-icon>
              <div>
                <span class="w">หมู่บ้านในรัศมี 10 กม.</span>
              </div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>


  <!-- 
  <ion-card class="bg">
    <ion-card-header>
      หมู่บ้านในรัศมี 10 กม.
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card> -->


  <ion-card class="bg">
    <ion-card-header>
      ปริมาณน้ำฝนปัจจุบัน (24 ชม)
    </ion-card-header>
    <ion-card-content>
      <ion-item class="bg">
        <ion-avatar item-start>
          <img src="./assets/icon/drop3.png">
        </ion-avatar>
        <h1> {{ rainnow | number : '1.2-2' }} มม. </h1>
        <!-- <p>gfdhgghgdjf</p> -->
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg">
    <ion-card-header>
      ปริมาณน้ำฝนสะสม 7 วันที่ผ่านมา
    </ion-card-header>
    <ion-card-content>
      <ion-item class="bg">
        <ion-avatar item-start>
          <img src="./assets/icon/drop5.png">
        </ion-avatar>
        <h1>{{ rain7day | number : '1.2-2' }} มม.</h1>
        <!-- <p>gfdhgghgdjf</p> -->
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg">
    <ion-card-header>
      ปริมาณน้ำฝนสะสม (1 ม.ค. ถึงปัจจุบัน)
    </ion-card-header>
    <ion-card-content>
      <ion-item class="bg">
        <ion-avatar item-start>
          <img src="./assets/icon/rain2.png">
        </ion-avatar>
        <h1> {{ rain2018 | number : '1.2-2' }} มม.</h1>
        <!-- <p>gfdhgghgdjf</p> -->
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg">
    <ion-card-header>
      ปริมาณน้ำฝนเฉลี่ย 30 ปี ของสัปดาห์ปัจจุบัน
    </ion-card-header>
    <ion-card-content>
      <ion-item class="bg">
        <ion-avatar item-start>
          <img src="./assets/icon/water.png">
        </ion-avatar>
        <h1>{{ rainAVWeek | number : '1.2-2' }} มม.</h1>
        <!-- <p>gfdhgghgdjf</p> -->
      </ion-item>
    </ion-card-content>
  </ion-card>



</ion-content>